*   text=auto   eol=lf

*.h     text    eol=lf
*.cpp   text    eol=lf
*.hpp   text    eol=lf

*.txt   text    eol=lf
*.py    text    eol=lf
.clang-format   text    eol=lf

*.sh    text    eol=lf
*.bat   text    eol=crlf

*.md    text    eol=lf
